
<form class="form-horizontal" role="form">

    <input type="hidden" data-ng-model="registrationData.callbackUrl" />
    <input type="hidden" data-ng-model="gRecaptchaResponse" />

    <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email:</label>
        <div class="col-md-10">
            <input type="email" data-ng-model="registrationData.email" class="form-control" name="email" id="email" required />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-md-2 control-label">Password:</label>
        <div class="col-md-10">
            <input type="password" class="form-control" data-ng-model="registrationData.password" name="password" id="password" required />
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword" class="col-md-2 control-label">Confirm password:</label>
        <div class="col-md-10">
            <input type="password" class="form-control" data-ng-model="registrationData.confirmpassword" name="confirmpassword" id="confirmpassword" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Captcha:</label>
        <div class="col-md-10">
            <no-captcha expired-callback="expiredCallback"
                        g-recaptcha-response="gRecaptchaResponse"
                        theme='light'>
            </no-captcha>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" data-ng-click="signup()" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p class="text-info">
                By signing up, you agree to the <a href="#/termsofservice"><u>Terms of Service</u></a> and <a href="#/privacypolicy"><u>Privacy Policy</u></a>, including <a href="#/cookieuse"><u>Cookie Use</u></a>.
            </p>
        </div>
    </div>
</form>
